<%- include('partials/header') %>

<body>

        <div class="container">
            <!-- <i class="material-icons avatar light-blue-text text-darken-3">account_circle</i> -->
            <div class="avatar">
                <img src="images/logo.png" alt="logo">
            </div>
            
            <form action="/signup" method="post">
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input id="name" type="text" name="name" required>
                    <label for="name">Name</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" name="username" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Enter valid email" data-success="Correct"></span>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" name="password" class="validate" minlength="6" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$" required>
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Enter atleast 6 character containing one letter, one scpecial character and one digit" data-success="Fair Password"></span>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input id="cnf-password" type="password" name="cnf-password" class="validate" minlength="6" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$" required>
                    <label for="cnf-password">Confirm Password</label>
                    <span id="cnf-pswd-helper" class="helper-text" data-error="Password didn't match" data-success="Matched"></span>
                </div>
    
                
                <button class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">Signup
                    <i class="material-icons right">send</i>
                  </button>
                
            </form>
            <div class="links">
                <span>Already have an account.&nbsp; <a href="/login">Login</a></span>
            </div>
            <p>Or</p>
            <div class="google-btn">
                <a href="/auth/google">
                    <button class="btn waves-effect waves-light red darken-4">
                        signup with google
                        <img class="left" src="https://img.icons8.com/color/96/000000/google-logo.png">
                    </button>
                </a>
            </div>
        </div>
        
    
        
        <script>
            $('#password').blur(e => {
                let p1 = $('#password').val();
                $('#cnf-password').attr('pattern', p1);
    
                
            });

            
        </script>
    </body>

<%- include('partials/footer') %>